* {
  margin: 0;
  padding: 0;
}

body {
  background:#f0efef;
}

/* ESTILOS DE LOGGING IN */
.loggingIn {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  margin: auto;
  margin-top: 5%;
  padding: 0px 50px 45px;
  /* width: 38%; */
  max-width: 380px; /* Ancho del fomulario */
  /* height: 150%; */
  z-index: 1;
}

img {
  width: 90%;
  margin: auto; /* centra la imagen */
  display: block; /* quita el display en linea */
}

.inputGroup {
  margin-bottom: 32px;
}

/* label */
.user, .password {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
}

.user {
  top: 49.5%;
}

.password {
  top: 66.6%;
}

/* input */
#user, #password {
  font-family: 'Open Sans', sans-serif;
  border: 0;
  border-bottom: 3px solid #ffe521;
  background: none;
  color: #000;
  display: block;
  font-size: 19px; 
  line-height: 145%;
  text-align: start;
  padding: 12px 0 14px;
  position: relative;
  width: 100%;
  transition: 0.5s; 
}

#user {
  font-weight: 400;
  letter-spacing: 2px;
}

#password {
  font-weight: 800;
  letter-spacing: 3px;
}

#user:hover, #password:hover {
  border-bottom: 3px solid #ffc421;
}

#user:focus, #user:active, #password:focus, #password:active {
  border-bottom: 3px solid rgb(0, 0, 0);
}

/* boton */
.logging {
  background-color: #ffe521;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; 
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 9%;
  padding: 4%;
  transition: .2s;
  text-align: center;
  width: 45%;
  transition: 0.3s;
}

.logging:hover {
  background-color: #fffc3df6;
}

/* PÁGINA DE BIENVENIDA */
.laboratoriaBar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 9px 0px #c5c5c5;
  border-bottom-style: solid;
  border-color: #ffe521;
  border-width: 5px;
  overflow: hidden; /* Esta propiedad especifica si se debe recortar contenido */
  text-align: center;
  height: 80px;
  width: 100%;
}
.laboratoriaBar2 {
  position: fixed;
  height: 70px;
  margin-top: 0;
}
.logo {
  width: 15%;
  height: auto;
  margin-left: 41.5%;
  padding: 1%;
}
.laboratoriaBar2 .logo {
line-height: 70px;
width: 13%;
}
.welcome {
  font-family: 'Open Sans', sans-serif;
  float: right;
  margin: 22px;
}
.section-sede{
  padding-top: 70px;
}
.navigatingBar {
  background: rgba(1, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  margin: auto;
  margin-top: 6%;
  width: 30%;
}
.place {
  border-radius: 10px;
  font-size: 200%;
  list-style-type: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.place:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255) ;
}
/* SEGUNDA PAGINA */
.second-tab {
  float: left;
  padding-top: 0px;
}
.menu-sedes{
  display:inline-block;
  background: none;
  border-right-style: solid;
  border-color: #ffe521;
  border-width: 4%;
  height: 900px;
  margin-right: 10px;
}
.menu-butom{
  background-color: #ffe521;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 0.5%; 
  transition: 0.3s;
  line-height: 60px;
}
.menu-butom:hover {
  background-color:  #fffc3df6;
}
#option1{
  margin-top:4%;
  border-radius: 13px 13px 0px 0px;
}
#option4{
  border-radius: 0px 0px 13px 13px;
}
.li-list {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  width: 100%;
} 
/* LISTA DE COHORTS */
.list-cohorts {
  width: 80%;
  height: auto;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  z-index: 2;
  cursor: pointer;
  float: right;
  line-height: 30px;
}
.elem-cohort {
  list-style-type: none;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 1%;
  padding-left: 3%;
}
.elem-cohort:hover {
  background-color: rgb(86, 248, 154);
}
.list-student {
  float: right;
  background-color: rgba(0, 0, 0, 0.12);
  margin-right: 25%;
}
.student {
  color: #000;
  font-family: 'Open Sans', sans-serif;

}

/* estilos para centrar el contenido en el 80% de la página */
.wrapper {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

/* tabs */
.hide {
  display: none;
}
.show {
  display: block;
}
